<div class="example-container">
	<mat-toolbar color="primary" class="example-toolbar">
		<mat-toolbar-row class="nav-bar">
			<h1 class="example-app-name">NOT OTP</h1>

			<span class="example-spacer"></span>

			<a mat-button routerLinkActive="active" routerLink="/clients">
				<mat-icon>people</mat-icon>
				<span class="icon">Clients</span>
			</a>
			<a mat-button routerLinkActive="active" routerLink="/accounts">
				<mat-icon>event_note</mat-icon>
				<span class="icon">Accounts</span>
			</a>
			<a mat-button routerLinkActive="active" routerLink="/transactions">
				<mat-icon>class</mat-icon>
				<span class="icon">Transactions</span>
			</a>
			<a mat-button routerLinkActive="active" routerLink="/assessment">
				<mat-icon>assessment</mat-icon>
				<span class="icon">Assessment</span>
			</a>
		</mat-toolbar-row>
	</mat-toolbar>
	<mat-sidenav-container class="container">
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
