<div class="example-container">
	<mat-toolbar color="primary" class="example-toolbar">
		<mat-toolbar-row class="nav-bar">
			<h1 class="example-app-name">Neptun 2</h1>

			<span class="example-spacer"></span>

			<a mat-button routerLinkActive="active" routerLink="/oktato-list">
				<mat-icon>people</mat-icon> <span class="icon">Oktatók</span>
			</a>
			<a mat-button routerLinkActive="active" routerLink="/hallgato-list">
				<mat-icon>people</mat-icon> <span class="icon">Hallgatók</span>
			</a>
			<a mat-button routerLinkActive="active" routerLink="/targy-list">
				<mat-icon>class</mat-icon>
				<span class="icon">Targyak</span>
			</a>
			<!--<a mat-button routerLinkActive="active" routerLink="/client-list">
				<mat-icon>people</mat-icon> <span class="icon">Clients</span>
			</a>
			<a mat-button routerLinkActive="active" routerLink="/rentable-list">
				<mat-icon>local_movies</mat-icon> <span>DVDs/Cassettes</span></a
			>
			<a mat-button routerLinkActive="active" routerLink="/rent-list">
				<mat-icon>event_note</mat-icon> <span>Rents</span></a
			>-->
		</mat-toolbar-row>
	</mat-toolbar>
	<mat-sidenav-container class="container">
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
