<h2 mat-dialog-title>Create Client</h2>

<mat-dialog-content class="mat-typography">
	<form [formGroup]="createForm" class="form container">
		<mat-form-field class="form-element">
			<mat-label>Név</mat-label>
			<input
				matInput
				type="text"
				placeholder="Ex. Kiss Tamás"
				[errorStateMatcher]="matcher"
				formControlName="nev"
			/>
			<mat-error *ngIf="myForm.nev.errors?.required">
				Név megadása<strong>kötelező</strong>
			</mat-error>
		</mat-form-field>
		<br />
		<mat-form-field class="form-element">
			<mat-label>Tanszék</mat-label>
			<input
				matInput
				type="text"
				placeholder="Ex. AIT"
				[errorStateMatcher]="matcher"
				formControlName="tanszek"
			/>
			<mat-error *ngIf="myForm.nev.errors?.required">
				Tanszék megadása<strong>kötelező</strong>
			</mat-error>
		</mat-form-field>
	</form>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
	<button
		mat-button
		[mat-dialog-close]="true"
		(click)="submitForm()"
		[disabled]="!createForm.valid"
	>
		Confirm
	</button>
</mat-dialog-actions>
