.button-container{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999 !important;
}

.rentable-card {
    min-width: 280px;
    margin: 15px;
}

.targy-header-image {
    /*<img src="https://img.icons8.com/material-sharp/24/000000/math.png"/>*/
    background-size: cover;
    
    border-radius: 0;
}

.MATH{
    background-image: url('https://img.icons8.com/windows/96/000000/formula-fx.png');
}

.CODE{
    background-image: url('https://img.icons8.com/fluent/96/000000/code.png');
}

.PHYSICS{
    background-image: url('https://img.icons8.com/ios-glyphs/90/000000/physics.png');
}

.ECONOMICS{
    background-image: url('https://img.icons8.com/carbon-copy/100/000000/stocks.png');
}

#picker{
    pointer-events:none;
    max-width: 300px;
}

.card-container{
    padding: 35px 10%;
}